.react-calendar {
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Segoe UI', sans-serif;
}

.react-calendar__tile--now {
  background: #f0f8ff;
  font-weight: bold;
}

.react-calendar__tile--active {
  background: #1d3557 !important;
  color: white !important;
  border-radius: 8px;
}

.holiday-tile {
  background-color: #ffcccc !important;
  color: #a10000 !important;
  border-radius: 6px;
}

.leave-tile {
  background-color: #b3f0d1 !important;
  color: #006644 !important;
  border-radius: 6px;
}
